.button {
  background-color: rgba(112, 76, 182, 0.1);
  font-size: 32px;
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  appearance: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.15s;
}
