$base-text-color: #c9d1d9;
$button-border-color: transparent;
$button-color: $base-text-color;
$button-background-color: rgba($button-color, 0.1);
$button-hover-border-color: rgba($button-color, 0.4);
$button-active-border-color: rgba($button-color, 0.2);
$button-async-active-background-color: rgba($button-color, 0.15);

body {
  background-color: #0d1117;
  color: $base-text-color;
}
