$base-text-color: #24292e;
$button-border-color: transparent;
$button-color: #704cb6;
$button-background-color: rgba($button-color, 0.1);
$button-hover-border-color: rgba($button-color, 0.4);
$button-active-border-color: rgba($button-color, 0.2);
$button-async-active-background-color: rgba($button-color, 0.15);

body {
  background-color: #fff;
  color: $base-text-color;
}
